body {
    margin: 0
}

header {
    width: 100vw;
    border: 2px solid black;
}

.title {

}

.cart {
    float: right;
}

nav {
    height: 100vh;
    width: 20vw;
    float: left;
    border: 2px solid blue;
}
.navHeader {
    display: block;
    background-color: grey;
    margin: 0;
}
li {
    list-style: none;
    text-align: left;
    font-size: 1.2em;
    display: block;
}

article {
    height: 100%;
    width: 70vw;
    float: left;
    border: 2px solid red;
}

article button {
    float: right;
}

article h1 {
    font-size: 3em;
    margin: 0
}

td, tr, table {
    padding: 10px;
}
table {
    width: 100%;
    border: "1";
}


.itemPrice {
    text-align: right;
}