body {
    margin: 0
}

header {
    width: 100vw;
    border: 2px solid black;
}
.title {

}
.cart {
    float: right;
}

nav {
    height: 100vh;
float: left;
border: 2px solid blue;
}

article {
    height: 100vh;
    float: left;
    border: 2px solid red;
}