body {
    margin: 0
}

header {
    width: 100vw;
    border: 2px solid black;
}
<<<<<<< HEAD


=======
>>>>>>> 11253725e5309264d893375eb848214ad56b2ad8
/*
.title {

}*/

.cart {
    float: right;
<<<<<<< HEAD
    margin-right: 40px;
=======
		margin-right: 40px;
>>>>>>> 11253725e5309264d893375eb848214ad56b2ad8
}

nav {
    height: 100vh;
    width: 20vw;
    float: left;
    /*border: 2px solid black;*/
}

.navHeader {
    display: block;
    background-color: grey;
    margin: 0;
}

li {
    list-style: none;
    text-align: left;
    font-size: 1.2em;
    display: block;
}

article {
    height: 100%;
    width: 70vw;
    float: left;
    border-left: 2px solid black;
}

article button {
    float: right;
}

article h1 {
    font-size: 3em;
    margin: 0
}

td,
tr,
table {
    padding: 10px;
}

table {
    width: 100%;
    border: "1";
}

.itemPrice {
    text-align: right;
}